.menu-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item.active {
    background-color: #007BFF;
    color: white;
}
